<%= render partial: "helpers/header" %>

<h1> <%= @admin.name %></h1>


<div>
Admin Email:  <%= @admin.email %><br>
Location: <%= @admin.location %> <br>
 Specialization: <%= @admin.specialization %> <br>
 License: <%= @admin.license %>


</div>



