<h1> <%= @admin.name %></h1>



<p>  Admin Email:  <%= @admin.email %><br>
Location: <%= @admin.location %> <br>
 Specialization: <%= @admin.specialization %> <br>
 License: <%= @admin.license %>
</p>



