<h1> <%= @admin.name %></h1>

<br>

<h3> Health Admin Email:  <%= @admin.email %></h3>


<h3> License: <%= @client.license %></h3>
<h3> Specialization: <%= @client.specialization %></h3>
<h3> Location: <%= @client.location %></h3>

