<h1> <%= @admin.name %></h1>

<br>

<h3> Admin Email:  <%= @admin.email %></h3>


<h3> Location: <%= @admin.location %></h3>
<h3> Specialization: <%= @admin.specialization %></h3>
<h3> License: <%= @admin.license %></h3>



