<%= render partial: "helpers/header" %>
<h1 class="ui red inverted header" >Create an  Account to Access Our Database of Clients and Admins</h1>

<%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit %>
<% end %>


<img class="ui centered medium image" class="ui medium circular image" src="/assets/BACK2.png">