<%=render partial: "helpers/error_list", locals: {new_object: @client} %>


<%=form_for @client, html: {class: "ui form"} do |f|=%>
    
    <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email%>
    </div>

    <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name%>
    </div>

    <div class="field">
    <%= f.label :location%>
    <%= f.text_field :location%>
    </div>

    <div class="field">
    <%= f.label :age%>
    <%= f.number_field :age %>
    </div>
   
    <%=f.submit class:"yellow button ui" %>

<%end%>
   

   