<h1> <%= @client.name %></h1>

<br>

<p> Client Email:  <%= @client.email %>

<br>
Location: <%= @client.location %><br>
Birthday: <%= @client.age %><br>

<%= link_to "Edit this client", edit_client_path(@client) %>

<%= link_to "Delete this client", client_path(@client.id), 
    method: "delete", 
    data: {:confirm => "Are You Sure?"}%>

 </p>


 <%= render partial: "helpers/footer" %>


