<h1> <%= @client.name %></h1>

<br>

<h3> Client Email:  <%= @client.email %></h3>


<h3> Location: <%= @client.location %></h3>
<h3> Birthday: <%= @client.age %></h3>
<br>

<button> <%=link_to "Back to Clients", clients_path %> </button>





